/* #0B666A verde*/
/* #951ABE violeta */
/* barbra */






.logoNavbar {
height: 50px;
}



.carousel-item img {
    width: 30%; 
    height: 500px; 
  
}

.btn {
    background-color: #0B666A;
    color: white;
}

#contenedorProductos {
display: flex;
flex-wrap: wrap;
margin: 8%;
}




#carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}